.board {
  border: 1px black solid;
  width: calc(60px * 8 + 2);
}

.square {
  width: 60px !important;
  height: 60px !important;
  display: table-cell;
  padding: 0px !important;
}

.square.light {
  background-color: white;
  border: 1px solid white;
}

.square.dark {
  background-color: darkseagreen;
  border: 1px solid darkseagreen;
  position:relative;
}

.square.highlighted-source {
  background-color: teal !important;
  border: 1px solid blue;
}

.square.highlighted-move {
  background-color: aqua !important;
  border: 1px solid black;
}

.square.highlighted-capture {
  background-color: coral !important;
  border: 1px solid red;
}

.square.highlighted-attacker {
  background-image: repeating-linear-gradient(
    135deg,
    coral,
    coral 3px,
    white 3px,
    white 7px
  );
  border: 1px solid red;
}

.square.highlighted-selected {
  background-color: gray !important;
  border: 1px solid black;
}

.piece {
  width: 58px;
  height: 58px;
}

.hint {
  float: left;
  cursor: default;
}

.square .black, .square .white {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}
