.board {
  border: 1px black solid;
  width: calc(60px * 8 + 2);
}

.square {
  width: 60px !important;
  height: 60px !important;
  display: table-cell;
  padding: 0px !important;
}

.square.light {
  background-color: white;
  border: 1px solid white;
}

.square.dark {
  background-color: darkseagreen;
  border: 1px solid darkseagreen;
}

.square.light-endgame {
  background-color: white;
  border: 1px solid white;
}

.square.dark-endgame {
  background-color: lightgray;
  border: 1px solid lightgray;
}

.square.highlighted-source {
  background-color: teal !important;
  border: 1px solid blue;
}

.square.highlighted-move {
  background-color: aqua !important;
  border: 1px solid black;
}

.square.highlighted-capture {
  background-color: coral !important;
  border: 1px solid red;
}

.square.highlighted-attacker {
  background-image: repeating-linear-gradient(
    135deg,
    coral,
    coral 3px,
    white 3px,
    white 7px
  );
  border: 1px solid red;
}

.square.highlighted-selected {
  background-color: gray !important;
  border: 1px solid black;
}

.piece {
  width: 58px;
  height: 58px;
}

.hint {
  float: left;
  cursor: default;
}

.square .black, .square .white {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.promotion-dialog {
  position: fixed;
  width: calc(60px * 8);
  height: calc(60px * 8);
  margin: 0;
  padding: 5rem 1rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
}

.promotion-dialog .promotion-content {
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
}

.promotion-dialog-title {
  text-align: center;
  font-size: 1.5rem;
  margin: 0 0 1rem;
}

.promotion-dialog .piece {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0 0.5rem;
}