:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.square {
  width: 60px;
  height: 60px;
  display: table-cell;
  vertical-align: middle;
}

.square.light {
  background-color: burlywood;
}

.square.dark {
  background-color: maroon;
}

.square div {
  width: 60px;
  height: 60px;
}

.square div.black.pawn {
  background: url("/assets/Chess_pdt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.square div.black.knight {
  background: url("/assets/Chess_ndt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.square div.black.bishop {
  background: url("/assets/Chess_bdt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.square div.black.rook {
  background: url("/assets/Chess_rdt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.square div.black.queen {
  background: url("/assets/Chess_qdt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.square div.black.king {
  background: url("/assets/Chess_kdt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.square div.white.pawn {
  background: url("/assets/Chess_plt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.square div.white.knight {
  background: url("/assets/Chess_nlt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.square div.white.bishop {
  background: url("/assets/Chess_blt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.square div.white.rook {
  background: url("/assets/Chess_rlt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.square div.white.queen {
  background: url("/assets/Chess_qlt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.square div.white.king {
  background: url("/assets/Chess_klt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}
